@import "../Vars.scss";

.hero__container {
  background: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero-background {
  background: $main-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-vid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
  filter: brightness(40%);
}

.hero-content {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: $white-color;
  font-size: 48px;
  text-align: center;
}

.hero-description {
  margin-top: 24px;
  color: $white-color;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
}

.hero-btn-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-forward {
  margin-left: 8px;
  font-size: 20px;
}

@import "../mediaqueries/HeroSectionMedias.scss";
