@import "../Vars.scss";

@media screen and (max-width: 768px) {
  .info-wrapper {
    height: 840px;
  }

  .info__container-dark {
    padding: 100px 0;
  }
  .info__container-light {
    padding: 100px 0;
  }
  .info-row0 {
    grid-template-areas: "col1" "col2";
  }
  .info-row1 {
    grid-template-areas: "col1" "col2";
  }
}

@media screen and (max-width: 480px) {
  .info-heading-dark {
    font-size: 2rem;
  }
  .info-heading-light {
    font-size: 2rem;
  }
}

@media screen and (max-height: 479px) {
  .info-wrapper {
    min-height: 600px;
  }
}
