@import "../Vars.scss";

@media screen and (max-width: 768px) {
  .info__container-dark {
    padding: 100px 0;
  }
  .info__container-light {
    padding: 100px 0;
  }
  .info-row {
    grid-template-areas: "col1" "col2";
  }
}

@media screen and (max-width: 480px) {
  .info-heading-dark {
    font-size: 2rem;
  }
  .info-heading-light {
    font-size: 2rem;
  }
}
