@import "../Vars.scss";

@media screen and (max-width: 960px) {
  .navbar {
    transition: 0.8s all ease;
  }
}

@media screen and (max-width: 930px) {
  .mobile-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: $main-color;
  }
  .navbar-menu {
    display: none;
  }

  .navbar-btn {
    display: none;
  }
}
