@import "../Vars.scss";

@media screen and (max-width: 480px) {
  .sidebar-menu {
    grid-template-rows: repeat(6, 60px);
  }
}

@media screen and (max-height: 450px) {
  .sidebar-menu {
    grid-template-rows: repeat(5, 50px);
  }
}

@media screen and (max-height: 320px) {
  .sidebar-menu {
    grid-template-rows: repeat(5, 45px);
  }
}
