@import "../Vars.scss";

.in-dev {
  background: $main-color;
  color: $white-color;
  position: absolute;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.course-exit-icon {
  text-decoration: none;
  color: $white-color;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $blue-green;
    transition: 0.3s ease-in-out;
  }
}

.course-exit-icon p {
  margin-left: 5px;
}

.in-dev-desc {
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
